.App {
  font-family: 'Lato', sans-serif;
}

.navbar {
  max-width: 100%;
  gap: 24px;
  padding: 24px 48px;
  justify-content: center;
}

@keyframes come-down {
  0% {
    transform: translateY(-200%)
  }

  100% {
    transform: translateY(0%)
  }
}

@keyframes left {
  0% {
    transform: translateX(-200%)
  }

  100% {
    transform: translateY(0%)
  }
}

.logo {
  font-size: xx-large;
  font-weight: bold;
  color: #283B45;
  cursor: default;
  animation: 1.5s left
}

.searchbar {
  width: 100%;
  gap: 24px;
  justify-content: center;
  animation: come-down 1.5s
}

.search-icon {
  color: #283B45;
}

.location-form {
  background-color: #CAD1CA;
  width: 90%;
  padding: 4px;
  justify-content: space-between;
}

.location-form input {
  border: none;
  background-color: transparent;
  width: 500px;
}

.location-form button {
  border: none;
  background-color: #283B45;
  color: #CAD1CA;
  padding: 2px 8px;
  margin-right: 8px;
}

.location-form button:hover {
  background-color: #3c5868;
  cursor: pointer;
}

.location-form input:focus {
  outline: none;
}

.measurements>* {
  background-color: #CAD1CA;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: small;
}

.measurements>*:hover {
  cursor: pointer;
}

.selected {
  background-color: #283B45;
  color: #CAD1CA;
}

.flex-row {
  display: flex;
  align-items: center;
}

/* Snapshot */

.snapshot {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.location-name {
  font-size: 48px;
  color: #283B45;
}

.snap-top {
  gap: 48px;
}

.precip {
  gap: 6px;
  color: #283B45;
}

.high {
  color: #a31c2c
}

.low {
  color: #5e7f92;
}

.temps {
  gap: 128px;
  font-size: xx-large;
  color: #283B45;
  font-weight: bold;
}

.forecast {
  gap: 24px;
  flex-wrap: wrap;
  list-style: none;
  padding-inline-start: 0;
  justify-content: center;
  align-items: center;
}

.forecast li {
  margin: 0;
  padding: 0;
}

.ul-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  width: 100%;
}

/* Weather Card */

.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  background-color: #CAD1CA;
  padding: 12px;
}

.fade-in-three {
  animation: fade-in 3s ease
}

.fade-in-four {
  animation: fade-in 4s ease
}


@media(max-width: 900px) {

  .navbar {
   justify-content: center;
   gap: 12px;
  }

  .location-form {
  }

  .location-form input {
    width: 100px;
  }

  .logo {
    font-size: x-large;
  }

  .location-name {
    font-size: 32px;
  }

  button {
    font-size: 10px;
  }

  .temps {
    gap: 64px
  }

  .ul-container {
    gap: 8px;
  }

  .forecast {
    max-width: 100%;
    gap: 64px;
  }

  .searchbar {
    width: auto;
  }

  .weather-card {
    gap: 24px;
  }

  .weather-card img {
  }
}

@media(max-width: 500px) {
  .weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    background-color: #CAD1CA;
    padding: 12px;
  }

  .forecast {
    gap: 12px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


